.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.summary {
  overflow-y: scroll;
  max-height: 300px;
}

.seasonLabels {
  font-size: 20px
}

.showCards {
  min-height: 450px;
  min-width: 250px
}

.card-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 470px;
  .card {
    display: inline-block;
  }
}

.stretch {
  width: 100%;
}