.summary {
  overflow-y: scroll;
  max-height: 300px;
}

.seasonLabels {
  font-size: 20px
}

.showCards {
  min-height: 450px;
  min-width: 250px
}

.card-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 470px;
  .card {
    display: inline-block;
  }
}

.stretch {
  width: 100%;
}

.backcolor {
  background-color: rgba(0, 0, 0, 0.5);
  color: white
}

.backGrey {
  background-color: rgba(112, 112, 112, 0.5);
  color: white
}

.stretchDown {
  min-height: 90vh;
  height: 100%;
}

.linkProp:hover {
  color: grey
}

.scroll-vertical {
  overflow-y: scroll;
  height: 300px;
  .card {
    display: inline-block;
  }
}

#title {
  font-size: 100px;
  color: white;
  text-shadow: 2px 2px black;
}

.form-spacing {
  padding-top: 150px
}

a {
  color: lightgrey
}

a:hover {
  color: white
}

#signin-form {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-style: solid;
  border-radius: 25px;
}